.main
  .header
    %h1.header__right
      APEX.streamer
    .header__left
      検索
  .main-content
    .content
      %h2.content__header
        放送中のチャンネル
      %ui.live-channels
        %li.live-channels__list
          詳細
  .footer
    .footer-content
      %h2.archive
        過去の放送
      %ui.archive-link
        %li.archive-list
          まさし

      