* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #000;
}
body {
  padding: 0 0 40px;
  background-color: #000;
  height: 100vh;
  color: #ffffff;
  
}

.main{
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: auto;
  color: #000;
}

  .header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  
    &__left{
      color: #ffffff;
      font-size: 30px;
      text-decoration: none;
      
    }
    &__right{
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
    }
  }

  .content{
    background-color: #ffffff;
    height: calc(100vh - 150px);
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    overflow: scroll;


    .content__header{
      padding: 10px 0;
      font-size: 20px;
      border-top: 3px double #2d2d2d;
      border-bottom: 1px solid #2d2d2d;
         
    }
  }
  .live-channels{
    margin:0 10px;
    
    height: 60vh;
    list-style: none;
  }
  
  .archive{
    margin-top: 10px;
    padding: 10px 0;
    font-size: 20px;
    border-top: 3px double #501919;
    border-bottom: 1px solid #2d2d2d;
  }
  .archive-link{
    height: 200px;
    
    
    .archive-list{
      list-style: none;
      padding: 15px 0;
      border-bottom: 1px dotted;
      padding-bottom: 1em;
      display: flex;
    }
  }
  .live-channels-list{
    display: flex;
    margin-bottom: 10px ;
  }



.image{
  height: 120px;
  width: 160px;
}

.icon{
  height: 16px;
  width: 16px;
  margin: 0 10px;
}

.archive-icon{
  height: 16px;
  width: 16px;
  
  margin:5px 5px 0 5px;
}

.archive-info{
  display: flex;
}

.thumbnail{
  width: 160px;
  height: 120px;
}

.tweet{
  text-decoration: none;
  color: #ffffff;
  font-size: 24px; 
}